.navbarBanner{
background-color: #232f3e;
padding: 0 0 0 11px;
display: flex;
height: 39px;
justify-content: space-between;
color: white;

}
.navbarbanneroptionsleft{
    display: flex;
}
.optionnavbarbanner{
    display: flex;
    padding: 5.5px 6.5px;
    justify-content: center;
    text-decoration: none;
    color: white;
    align-items: center;
    cursor: pointer;
    &:hover{
        border: 1px solid;
        border-radius: 3px;
    }
}
.alloptionnavbarbanner{
    font-size: 8px;
    padding-left: 2px;
  font-weight: 600;
}
.navbarbannerrightside{
    border: 1px  #232f3e ;
    border-radius: 3px;
    cursor: pointer;
}